In [ ]:
import pandas as pd
df =  pd.read_csv(r"C:/Users/Pau/Desktop/BCNActiva/BCNActiva ADD/Simulador Empresa/ProjecteData/Equip_16/Data/banca_22.09_dataset.csv")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#verificación nulos
df.isnull().any().any()

In [ ]:
# suma de nulos por columna
df.isnull().sum()

In [ ]:
# Para ver duplicados

df.duplicated()
# df = df.drop_duplicates(subset=['Product', 'Location']) (para eliminar duplicados concretos en función de una columna)
df = df.drop_duplicates()

In [ ]:
filas_con_nulos = df[df.isnull().any(axis=1)]
filas_con_nulos

In [ ]:
def clase_edad(x):
    if x < 18:
        return "unknown"
    elif x >= 18 and x <=24: 
        return '18-24'
    elif  x >= 25 and x <= 34:
        return '25-34'
    elif  x >= 35 and x <= 44:
        return '35-44'
    elif  x >= 45 and x <= 54:
        return '45-54'
    elif  x >= 55 and x <= 64:
        return '55-64'
    else:
        return '65+' #Como no hay edades inferiores a 18 no va dar problemae

df['Clase de edad'] = df['age'].apply(clase_edad)

In [ ]:
def perfil(x):
    if x == "unknown":
        return "unknown"
    elif x == '18-24': 
        return "Gen Z & Boomers"
    elif  x == '25-34':
        return 'Millenials'
    elif  x == '35-44':
        return 'Adultxs'
    elif  x == '45-54':
        return 'Divorciadxs'
    elif  x == '55-64':
        return "Gen Z & Boomers"
    elif x == '65+':
        return "Gen Z & Boomers" #Como no hay edades inferiores a 18 no va dar problemae

df["Perfil"] = df['Clase de edad'].apply(perfil)
df # Para visualizar la tabla generada

In [ ]:
# -------------------------
# Función para imputar nulos
# -------------------------
def imputar(row):
    # 1) age
    if pd.isna(row["age"]):
        if row["job"] == "retired":
            row["age"] = 65
        elif row["job"] == "management":
            row["age"] = 45
        elif row["job"] == "technician":
            row["age"] = 35
        else:
            row["age"] = 40
    
    # 2) marital
    if pd.isna(row["marital"]):
        row["marital"] = "single" if row["age"] < 32 else "married"
    
    # 3) education
    if pd.isna(row["education"]):
        if row["job"] in ["management", "technician"]:
            row["education"] = "tertiary"
        elif row["job"] == "retired":
            row["education"] = "secondary"
        else:
            row["education"] = "primary"
    
    # 4) job
    if pd.isna(row["job"]):
        if row["education"] == "tertiary":
            row["job"] = "management"
        elif row["education"] == "secondary":
            row["job"] = "technician"
        else:
            row["job"] = "unknown"
    # 5) housing
    if pd.isna(row["housing"]):
        if row["Clase de edad"] == "25-34":
            row["housing"] = "yes"
        else:
            row["housing"] = "no"
    return row
# Aplicamos la función
df = df.apply(imputar, axis=1)
df.isnull().sum()

In [ ]:
#sustitución de valores nulos

df["marital"] = df["marital"].fillna("unknown")
df["education"] = df["education"].fillna("unknown")

In [ ]:
total_contactos = df["campaign"].sum()

In [ ]:

total_convertidos = (df["deposit"]== "yes").sum()

In [ ]:
total_convertidos

In [ ]:
tasa_exito = total_convertidos / total_contactos * 100
tasa_exito = round(tasa_exito,2)

In [ ]:
tasa_exito